.logout {
  position: absolute;
  left: 257px;
  top: 15px;
  padding: 8px 16px;
  gap: 10px;
  background-color: transparent;
  border-radius: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  color: rgba(102, 102, 102, 1);
  border: solid 1px rgb(145, 144, 144);
  transition: background-color 0.3s ease;
}

.logout:hover {
  background-color: rgb(230, 84, 84);
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  border: none;
}
