.logout {
  position: absolute;
  left: 257px;
  top: 15px;
  padding: 8px 16px;
  gap: 10px;
  background-color: transparent;
  border-radius: 16px;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: rgba(102, 102, 102, 1);
  border: solid 1px rgb(145, 144, 144);
  transition: background-color 0.3s ease;
}

.logout:hover {
  background-color: rgb(230, 84, 84);
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  border: none;
}

.search {
  position: relative;
}

.search > form {
  display: flex;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 283px;
  height: 32px;
  left: 39px;
  top: 62px;
}

.search > form > label {
  width: 192px;
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
}

.search > form > label > input {
  padding: 8px;
  border: none;
  border-radius: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(33, 33, 33, 1);
  width: 100%;
  height: 100%;
}

.search > form > button {
  padding: 8px 16px;
  gap: 10px;
  background: rgba(102, 102, 102, 1);
  border-radius: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  border: none;
  transition: background-color 0.3s ease;
}

.search > form > button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 1);
}

.cardTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 4px;
  position: absolute;
  left: 80px;
  top: 126px;
}

.cardTitle > h1 {
  text-align: center;
  color: #212121;
  width: 197px;
}

.cardTitle > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #212121;
}

.imgSearch {
  padding: 0px;
  position: absolute;
  width: 144px;
  height: 144px;
  left: 108px;
  top: 194px;
}

.cardLabel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 312px;
  left: 24px;
  top: 354px;
}

.cardLabel > span {
  padding: 2px 8px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
}

.cardChar {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  left: 92px;
  top: 390px;
}

.cardChar > div {
  width: auto;
  display: flex;
  flex-direction: column;
}

.cardChar > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 36px;
  gap: 8px;
}

.cardChar hr {
  width: 1px;
  height: 48px;
  margin: 0;
  border: none;
  background-color: rgba(224, 224, 224, 1);
  align-self: center;
}

.cardChar img {
  height: 16px;
}

.cardChar span {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  place-items: center;
  color: rgba(15, 23, 42, 1);
}

.cardChar h4 {
  text-align: center;
  font-size: 8px;
  line-height: 12px;
  color: rgba(100, 116, 139, 1);
}

.error {
  width: 197px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: rgba(15, 23, 42, 1);
  position: absolute;
  left: 80px;
  top: 194px;
}

.default > img {
  position: absolute;
  width: 144px;
  height: 144px;
  left: 108px;
  top: 158px;
}

.default > h3 {
  position: absolute;
  left: 123px;
  top: 318px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.spinner {
  position: absolute;
  left: 108px;
  top: 194px;
}

.buttonFav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  position: absolute;
  left: 82px;
  top: 480px;
  background: rgba(102, 102, 102, 1);
  border-radius: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  border: none;
}

.buttonFav:hover {
  cursor: pointer;
}
